version: '3.8'

services:
  mongo:
    image: mongo:4.4
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: meanapp
    volumes:
      - mongo-data:/data/db
    networks:
      - meanapp


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-app
    ports:
        - "3000:3000"
    environment:
      MONGODB_URI: mongodb://mongo:27017/meanapp
      NODE_ENV: production
    depends_on:
        - mongo
    networks:
        - meanapp

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
        - backend
    networks:
        - meanapp

  nginx:
    image: nginx:alpine
    container_name: nginx-1b
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - meanapp

volumes:
  mongo-data:

networks:
  meanapp:
    driver: bridge